.Login {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../../../assets/images/image001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}
.Login>div {
    display: table-cell;
    vertical-align: middle;
}
.login-form {
    width: 390px;
    height: 425px;
    padding: 40px;
    margin: 10px;
    background-color: #94abab99;
}